* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
}
nav .left-nav {
  width: 30%;
  display: flex;
  justify-content: center;
}
nav .left-nav img {
  width: 28%;
}
nav .right-nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
nav .right-nav a {
  text-decoration: none;
  color: black;
}
nav .right-nav a:hover {
  color: aqua;
}

main img {
  width: 100%;
}
main {
  position: relative;
}
main .search {
  position: absolute;
  top: 42%;
  left: 30%;
  width: 39%;
}
main .search form input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
}
main .search form {
  display: flex;
  align-items: center;
}
main p {
  position: absolute;
  top: 27%;
  font-size: 3.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
main .search img {
  width: 7%;
  position: absolute;
  right: 3%;
}
main .mouse {
  width: 100%;
  bottom: 8%;
  position: absolute;
  display: flex;
  justify-content: center;
}
main .mouse img {
  width: 2%;
}
.mid .grid {
  display: grid;
  place-items: center;
  padding: 0 3%;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-gap: 1rem;
}
.mid .grid .card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mid .grid .card .image-container img {
  width: 100%;
}
.mid .grid .card .image-container {
  width: 100%;
  position: relative;
}
.mid .grid .card .image-container .like {
  position: absolute;
  width: 7%;
  right: 1%;
  top: 3%;
}
.mid .grid .card .image-container .like img {
  width: 100%;
}
.mid .grid .card .description {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1% 2%;
}
.img_list {
  width: 100%;
}
.img_list .title {
  font-size: 1.5rem;
  padding: 1rem;
  justify-content: center;
  display: flex;
}

.img_list .title p {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}

.img_list .pictures {
  padding: 2% 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img_list .pictures .ind_imgs img {
  width: 100%;
}
.img_list .pictures .ind_imgs {
  width: 18%;
}
.img_list .pictures .ind_imgs:hover {
  width: 21%;
}
.mid .grid-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0%;
  gap: 0.7rem;
}
.mid .grid-text p {
  font-size: 2rem;
}
.video_sec {
  position: relative;
  padding: 2rem 0rem 0rem 0rem;
}
.video_sec .back_img img {
  width: 100%;
}
.video_sec .writting {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  bottom: 61%;
  right: 36%;
}
.video_sec .writting img {
  width: 20%;
  padding: 6%;
}
.video_sec .writting .main_writting {
  font-size: 2rem;
}
.video_sec .video img {
  position: absolute;
  width: 33%;
  left: 34%;
  bottom: 20%;
}
.discount_offer {
  position: relative;
  width: 100%;
}
.discount_offer img {
  position: relative;
  width: 100%;
}
.discount_offer .discount_writting{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 35%;
    top: 10%;
}
.discount_offer .discount_writting p{
    font-size: 2rem;
}
.discount_offer .discount_writting .sub_writting{
    font-size: 1rem;
    padding: 2%;
}
.discount_offer .email{
    position: absolute;
    top: 46%;
    left: 30%;
    width: 60%;
}
.discount_offer .email input{
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
    border: white solid 1px;
    border-radius: 1.5rem;
    background-color: transparent;
    width: 47%;
}
.discount_offer .email button{
    position: relative;
    left: 4%;
    font-size: 1.2rem;
    padding: 1rem;
    color: #08aeea;
    border: white solid 1px;
    border-radius: 1.5rem;
    background-color: white;
}
.discount_offer .map img{
    position: absolute;
    height: 100%;
}
