/* UNIVERSAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* display: flex; */
}

/* COMMON */

a {
    text-decoration: none;
}

/* Section Header Text */
.natural_wonders h2,
.tourist_attractions h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

/* WRAPPER */

.travel_site_wrapper {
    margin: auto;
}

/* CONTAINER */
.travel_site,
.showcase_container,
.natural_wonders_container,
.tourist_attractions_container,
.video_container,
.newsletter_container,
.map_container,
.contact_footer_container {
    width: 100%;
}


/* #########################################################################
HEADER
######################################################################### */
header,
#logo,
#navbar {
}

.header_container {
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#logo {
    width: 25%;
    text-align: center;
}

#logo img {
    width: 140px;
}

/* NAVBAR */
#navbar {
    width: 75%;
}

.links {
    display: flex;
}

.links li {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    margin: auto;
}

.nav_link {
    color: #303134;
}

.nav_link:focus {
    color: #67DCDA;
}



/* #########################################################################
SHOWCASE
######################################################################### */

.showcase_container {
    padding-bottom: 0;
    /* position: relative; */
}

.showcase {
    /* tbd */
    display: flex;
    margin: auto;
    position: relative;
}

.showcase .banner_img {
    width: 100%;
}

/* SHOWCASE CONTENT */

.showcase_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-bottom: 15px;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}

.showcase_content h1 {
    font-family: 'Coolvetica', sans-serif;
    font-size: 75px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}

/* Search Input */
.showcase_content .search {
    margin: auto;
    position: relative;
    width: 50%;
}

.showcase_content .search .search_input {
    border: none;
    border-radius: 8px;
    line-height: 20px;
    padding: 20px 30px 20px;
    width: 100%;
}

.showcase_content input::placeholder {
    color: #a5a5a5;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.search_icon {    
    cursor: pointer;
    width: 30px;
    position: absolute;
    right: 30px;
    bottom: 18px;
}

.mouse {
    left: 50%;
    bottom: 0;
    padding-bottom: 10px;
    transform: translate(-50%);
    position: absolute; 
}

.mouse img {
    width: 20px;
}


/* #########################################################################
NATURAL WONDERS
######################################################################### */

.natural_wonders_container {
}

.natural_wonders {
    margin: auto;
    padding-top: 10px;
    text-align: center;
}


/* Natural Wonders Slide */

.natural_wonders_slides {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.natural_wonders_slides .wonders_img {
    margin: 10px;
}

.natural_wonders_slides .wonders_img:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.natural_wonders_slides .wonders_img  img {
    width: 100%;
}

.natural_wonders_slides .wonders_img p {
    text-transform: capitalize;
}

/* #########################################################################
TOURIST ATTRACTIONS
######################################################################### */
.tourist_attractions_container {
}

/* Heading */
.tourist_attractions {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.tourist_attractions_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    margin: auto;
    margin-top: 20px;
    max-width: 1200px;
    padding: 1rem;
}

.attractions_card {
}

/* Cards */
.attractions_card .card_img  {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: auto;
    height: 600px;
    transition: 0.3s;
    position: relative;
}

.card_img > img {
    width: 100%;
}

.card_img .like {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Text */
.card_img_text {
    text-align: left;
    padding: 10px;
    margin: 20px;
}

.card_img_text h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card_img_text p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
}

/* #########################################################################
VIDEO
######################################################################### */

.video_container {
    height: 500px;
    position: relative;
}

/* Video: Background */
.video_container .video_bg {
}

.video_bg .bg_img {
    height: 500px;
    max-width: 100%;
}

/* Video: Top */
.video_top {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


/* Text */
.video_top_text {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
}

.video_top_text h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 37px;
    text-transform: uppercase;
}
.video_top_text p {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 37px;
}

.video_top .top_img {
    border-bottom: 3px solid #67DCDA;
    cursor: pointer;
    width: 100%;
    padding-bottom: 0;
}

/* #########################################################################
NEWSLETTER
######################################################################### */

.newsletter_container {
    position: relative;
}

.newsletter {
}

.newsletter img {
    width: 100%;
}

/* Text */
.newsletter_text {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 580px;
    position: absolute;
}

.newsletter_text h3 {
    font-size: 34px;
    font-weight: 600;
    line-height: 37px;
}

.newsletter_text p {
    font-weight: 500;
    line-height: 37px;
    padding: 10px 0;
}

/* Input */
.newsletter_input {
}

.newsletter_input input{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 500px;
    line-height: 37px;
    margin-right: 5px;
    padding-left: 20px;
    width: 400px;
}

.newsletter_input input::placeholder {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

/* Subscribe Button */

.newsletter_input .subscribe {
    background-color: #fff;
    border: #fff;
    color: #08AEEA;
    cursor: pointer;
    border-radius: 500px;
    line-height: 37px;
    margin-left: 5px;
    text-transform: uppercase;
    width: 160px;
}
/* #########################################################################
MAP
######################################################################### */
.map_container {
}

.map img {
    width: 100%;
}

/* #########################################################################
FOOTER
######################################################################### */

/* Contact Footer */
.contact_footer_container {
    background-color: #141418;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact_footer_container .quick_links h4,
.contact_footer_container .contact_address h4 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* Quick Links */
.quick_links {
    line-height: 40px;
    margin-left: 20px;
}

.quick_links .page_links li {
    list-style: none;
}

.quick_links .page_links li a {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

/* Address */
.contact_address {
    line-height: 40px;
    margin-left: 10px;
}

.contact_address address {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/* Newsletter Email */
.newsletter_email {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    width: 300px;
    position: relative;
    height: 85px;
    margin-right: 0;
    margin-top: 40px;
}

.newsletter_email p {
    font-size: 15px;
}
.newsletter_email input {
    line-height: 34px;
    margin-top: 20px;
    width: 100%;
}
/* arrow */
.newsletter_email .arrow  {
    position: absolute;
    width: 40px;
    right: 2px;
    top: 42px;
}

.newsletter_email input::placeholder {
    color: #353030;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 10px;
}
/* Site Footer */
footer {
    color: #fff;
    border-top: 1px solid #e8e8e8;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    align-content: center;
    padding: 20px 0;
}