/* UNIVERSAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

/* COMMON */

a {
    text-decoration: none;
}

/* WRAPPER */

.travel_site_wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

/* CONTAINER */
.travel_site,
.showcase_container,
.natural_wonders_container {
    width: 100%;
}


/* #########################################################################
HEADER
######################################################################### */
header,
#logo,
#navbar {
}

.header_container {
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#logo {
    width: 25%;
    text-align: center;
}

#logo img {
    width: 140px;
}

/* NAVBAR */
#navbar {
    width: 75%;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.links li {
    font-size: 24px;
    font-weight: normal;
    list-style: none;
    padding: 10px;
}

.nav_link {
    color: #000;
}

.nav_link:focus {
    color: turquoise;
}



/* #########################################################################
SHOWCASE
######################################################################### */

.showcase_container {
    padding-bottom: 0;
}

.showcase {
    /* tbd */
    display: flex;
    position: relative;
}

.showcase img {
    width: 100%;
}

/* SHOWCASE CONTENT */

.showcase_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}

.showcase_content h1 {
    font-size: 80px;
    font-weight: normal;
    color: #fff;
}

/* Search Input */
.showcase_content .search {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.showcase_content input {
    border: none;
    border-radius: 8px;
    margin: auto;
    padding: 20px 30px 20px;
    width: 500px;
}

.showcase_content input::placeholder {
    color: lightgray;
    font-size: 18px;
}

.search img {
    cursor: pointer;
    width: 30px;
    position: relative;
    right: 80px;
    top: 10px;
}

.mouse {
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    position: absolute; 
}

.mouse img {
    width: 20px;
}


/* #########################################################################
NATURAL WONDERS
######################################################################### */

#natural_wonders_container {
}

.natural_wonders {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    /* width: 100%; */
}

/* Natural Wonders Slide */

.natural_wonders_slides {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    /* margin: 5px;
    padding: 15px;     */
}

.natural_wonders_slides .wonders_img {
    margin: 10px;
}

.natural_wonders_slides .wonders_img:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.natural_wonders_slides .wonders_img  img {
    width: 100%;
}

.natural_wonders_slides .wonders_img p {
    text-transform: capitalize;
}