/* UNIVERSAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

/* COMMON */

a {
    text-decoration: none;
}

/* WRAPPER */

.travel_site_wrapper {
    margin: auto;
    width: 1200px;
}

/* CONTAINER */
.travel_site,
.showcase_container,
.natural_wonders_container,
.tourist_attractions_container,
.video_container,
.newsletter_container {
    width: 100%;
}


/* #########################################################################
HEADER
######################################################################### */
header,
#logo,
#navbar {
}

.header_container {
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#logo {
    width: 25%;
    text-align: center;
}

#logo img {
    width: 140px;
}

/* NAVBAR */
#navbar {
    width: 75%;
}

.links {
    display: flex;
}

.links li {
    font-size: 20px;
    font-weight: normal;
    list-style: none;
    margin: auto;
}

.nav_link {
    color: #000;
}

.nav_link:focus {
    color: turquoise;
}



/* #########################################################################
SHOWCASE
######################################################################### */

.showcase_container {
    padding-bottom: 0;
}

.showcase {
    display: flex;
    position: relative;
    margin: auto;
}

.showcase img {
    width: 100%;
}

/* SHOWCASE CONTENT */

.showcase_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}

.showcase_content h1 {
    font-size: 80px;
    font-weight: normal;
    color: #fff;
}

/* Search Input */
.showcase_content .search {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.showcase_content input {
    border: none;
    border-radius: 8px;
    margin: auto;
    padding: 20px 30px 20px;
    width: 500px;
}

.showcase_content input::placeholder {
    color: lightgray;
    font-size: 18px;
}

.search img {
    cursor: pointer;
    width: 30px;
    position: relative;
    right: 80px;
    top: 10px;
}

.mouse {
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    position: absolute; 
}

.mouse img {
    width: 20px;
}


/* #########################################################################
NATURAL WONDERS
######################################################################### */

.natural_wonders_container {
}

.natural_wonders {
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

/* Natural Wonders Slide */

.natural_wonders_slides {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.natural_wonders_slides .wonders_img {
    margin: 10px;
}

.natural_wonders_slides .wonders_img:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.natural_wonders_slides .wonders_img  img {
    width: 100%;
}

.natural_wonders_slides .wonders_img p {
    text-transform: capitalize;
}

/* #########################################################################
TOURIST ATTRACTIONS
######################################################################### */
.tourist_attractions_container {
}

/* Heading */
.tourist_attractions {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.tourist_attractions_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    margin: 20px;
    padding: 0;
}

.attractions_card {
}

/* Cards */
.attractions_card .card_img  {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: auto;
    transition: 0.3s;
    position: relative;
    width: 90%;

}

.card_img > img {
    width: 100%;
}

.card_img .like {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Text */
.card_img_text {
    text-align: left;
    padding: 10px;
    margin: 20px;
}

.card_img_text h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.card_img_text p {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    width: 100%;
}

/* #########################################################################
VIDEO
######################################################################### */

.video_container {
}

/* Video: Background */
.video_container .video_bg {
    position: relative;
}

.video_bg > img {
    width: 100%;
}

/* Video: Top */
.video_top {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


/* Text */
.video_top_text {
    font-family: 'Raleway' sans-serif;
    color: #fff;
    text-align: center;
}

.video_top_text p {
    font-family: 'Raleway' sans-serif;
    font-size: 24px;
}

.video_top > img {
    border-bottom: 3px solid turquoise;
    cursor: pointer;
    width: 100%;
    padding-bottom: 0;
}