* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}

/**************
Header
**************/
header {
  position: absolute;
  width: 100%;
}
.background {
  top: 0;
  right: 0;
  left: 0;
}
.background img {
  width: 100%;
  position: relative;
}
header .navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 2;
}
.logo {
  display: flex;
}
.logo img {
  height: 60px;
}
.logo .logotext {
  font-weight: bold;
  color: rgb(39, 114, 84);
  padding-top: 13px;
  margin: auto;
  font-size: 1.2rem;
}
#fav{
  color: #08aeea;
}
#ic{
  color: black;
}
.navbar .menus {
  padding: 0px 20px;
  color: rgb(39, 114, 84);
  margin: auto 0;
  font-size: 1.3rem;
  font-weight: lighter;
  position: relative;
}
.navbar .menus img {
  height: 15px;
}
/*************
Section1
*************/
.section1 {
  max-width: 100vw;
}
.section1 .searchbox {
  position: absolute;
  top: 100px;
  right: 0;
  padding-right: 20px;
}
.section1 .searchbox input {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 5px 10px;
  color: rgba(51, 52, 52, 0.2);
  font-weight: lighter;
  width: 300px;
  height: 30px;
}
img.search {
  position: absolute;
  width: 3%;
  right: 34%;
}
.section1 .searchbox .searchicon {
  position: absolute;
  right: 35px;
  top: 5px;
  height: 30px;
}
.section1 .heading1 {
  width: fit-content;
  font-weight: bold;
  font-size: 2rem;
  color: #277254;
  padding: 30px;
  margin: 0 auto;
  font-family: Helvetica Neue;
}

.section1 .grid {
  justify-content: space-evenly;
  display: flex;
}
.section1 .gridcontent img {
  width: 150px;
  height: 100px;
  padding: 10px;
  justify-content: space-evenly;
}
.section1 .gridcontent {
  cursor: pointer;
}
.section1 .gridcontent p {
  color: #277254;
  padding: 10px;
  text-align: center;
}
.section1 .gallery {
  margin: 0 auto;
  width: fit-content;
}
.section1 .gallery .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
}
.section1 .thumbnail {
  width: 320px;
  height: 400px;
  border-radius: 10px;
  position: absolute;
  position: relative;
  margin: 3px;
  background-color: #f0eded;
  padding: 10px;
}
.section1 .thumbnail .like {
  position: absolute;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}
.section1 .thumbnail .like img {
  height: 20px;
  width: 20px;
}
.section1 .thumbnail img {
  height: 300px;
  width: 320px;
}
.section1 .thumbheading {
  font-size: 1.3rem;
  color: rgb(39, 114, 84);
}
.section1 .thumbtext {
  color: #277254;
  padding: 8px 0;
}
/****************************
Footer
*****************************/
footer {
  background: #f4f2f2;
  margin-top: 50px;
}
footer .row {
  display: flex;
  justify-content: start;
  width: fit-content;
}
footer .logo img {
  margin: o auto;
  height: 40px;
  padding: 5px;
}
footer .ul {
  list-style: none;
  padding: 0;
}
footer .footermenus li {
  color: rgb(17, 80, 44);
  display: inline;
  padding: 0 10px;
  font-size: 0.7rem;
}
footer .copyright {
  padding: 10px 10px;
  color: rgb(17, 80, 44);
  font-size: 0.55rem;
  font-weight: lighter;
}
footer hr {
  width: 98%;
  margin: 0 auto;
  background: rgb(112, 112, 112);
  height: 1px;
  border: none;
  margin: 10px;
}
footer .footertext {
  color: rgb(39, 114, 84);
  font-size: 0.55rem;
  font-weight: lighter;
  padding-left: 20px;
  padding-bottom: 10px;
}

/****************************
section2  css
*****************************/
* {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
}
.logo img {
  height: 60px;
}
.logo .logotext {
  font-weight: bold;
  color: #277254;
  padding-top: 13px;
  margin: auto;
  font-size: 1.2rem;
  font-family: Helvetica Neue;
}

.navbar .menus {
  padding: 0px 20px;
  color: #277254;
  margin: auto 0;
  font-size: 1.3rem;
  font-weight: lighter;
  display: flex;
}
.navbar .menus img {
  height: 21px;
  color: #277254;
}
.section2 {
  width: 100vw;
}
.section2 .grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 1fr);
}
.section2 .gridcontent {
  position: relative;
  background-color: #f0eded;
  margin: 20px;
  position: relative;
  width: 600px;
}
.section2 .gallery {
  top: 0;
  right: 0;
  left: 0;
}
.searchbox {
  position: absolute;
  top: 86%;
  right: 24%;
  padding: 1%;
}
.section2 .searchbox input {
  border: rgb(112, 112, 112);
  background-color: rgba(224, 218, 218, 0.5);
  border-radius: 10px;
  padding: 2px 10px;
  margin: 0;
  color: rgba(51, 52, 52, 0.2);
  font-weight: lighter;
  border: 2px solid;
  width: 300px;
  height: 30px;
}

.section2 .searchbox .searchicon {
  position: absolute;
  right: 35px;
  top: 5px;
  height: 30px;
  border: rgb(105, 104, 104);
}
.section2 .heading1 {
  width: fit-content;
  font-size: 2rem;
  color: black;
  font-weight: bolder;
  margin: 0 auto;
  padding: 5% 0;
  font-family: raleway;
}

/* .section2 .gridcontent .mainimage {
  width: 280px;
  padding: 10px;
  height: 200px;
  object-fit: cover;
} */
.section2 .gallery {
  margin: 0 auto;
  width: fit-content;
  grid-template-columns: repeat(2, 1fr);
}

.section2 .image {
  position: relative;
  width: 300px;
}

.section2 .like img {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}
.section2 .gridheading {
  font-size: 0.8rem;
  color: rgb(39, 114, 84);
  font-weight: bolder;
  display: flex;
  padding-left: 10px;
  padding: 7px;
}
.section2 .gridsubheading {
  padding: 7px 0;
  font-size: 0.55rem;
  color: rgb(5, 131, 68);
  font-weight: normal;
  justify-content: space-between;
  padding-left: 10px;
}
.section2 .textcontent {
  height: 160px;
}
.gridtext {
  color: rgb(39, 114, 84);
  font-size: 0.55rem;
  padding: 10px;
  height: 50px;
}
.input-button {
  width: 80px;
  height: 24px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  color: white;
  background-color: #277254;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  margin-bottom: 0;
}
.textcontent p {
  padding: 5px 0;
  font-size: 15px;
}
.input-button a {
  color: #ffffff;
  text-decoration: none;
}

/****************************
section2 Footer
*****************************/
/* footer {
  background: #f4f2f2;
  margin-top: 50px;
  position: relative;
}
footer .row {
  display: flex;
  justify-content: start;
  width: fit-content;
}
footer .logo img {
  margin: o auto;
  height: 40px;
  padding: 5px;
}
footer .ul {
  list-style: none;
  padding: 0;
}
footer .footermenus li {
  color: rgb(17, 80, 44);
  display: inline;
  padding: 0 10px;
  font-size: 0.7rem;
}
footer .copyright {
  padding: 10px 10px;
  color: rgb(17, 80, 44);
  font-size: 0.55rem;
  font-weight: lighter;
}
footer hr {
  width: 98%;
  margin: 0 auto;
  background: rgb(112, 112, 112);
  height: 1px;
  border: none;
  margin: 10px;
}
footer .footertext {
  color: rgb(39, 114, 84);
  font-size: 0.55rem;
  font-weight: lighter;
  padding-left: 20px;
  padding-bottom: 10px;
} */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .section2 .gridcontent {
    height: 440px;
  }
}
@media screen and (max-width: 1200px) {
  .section1 .gallery .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 20px;
  }
  .section2 .grid {
    padding-top: 10px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(1, 1fr);
  }

  .section1 .gridcontent img {
    width: 280px;
    height: 200px;
  }
  .section1 .grid {
    flex-direction: column;
  }
  .section1 .gridcontent {
    margin: 0 auto;
    width: fit-content;
  }
  .section1 .heading1 {
    text-align: center;
  }
  .section2 .searchbox input {
    border: rgb(112, 112, 112);
    background-color: rgba(251 248 248 / 89%);
    border-radius: 10px;
    padding: 2px 10px;
    margin: 0;
    color: rgba(51, 52, 52, 0.2);
    font-weight: lighter;
    width: 300px;
    height: 30px;
  }
  .section2 .gridcontent {
    width: fit-content;
    align-items: center;
  }
  .input-button {
    width: 80px;
    height: 24px;
    float: right;
    border-radius: 5px;
    color: white;
    background-color: #277254;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    margin-bottom: 0;
  }
}
/************************ 
Footer
*************************/
/* footer {
  background-color: rgb(244, 242, 242);
}
footer .row {
  display: flex;
  justify-content: start;
  width: fit-content;
}
footer .logo img {
  margin: 0 auto;
  height: 40px;
  padding: 5px;
}
footer ul {
  list-style: none;
  padding: 0;
}

footer .footermenus li {
  color: rgb(39, 114, 84);
  display: inline;
  padding: 0 10px;
  font-size: 0.7rem;
}
footer .copyright {
  padding: 10px 10px;
  color: rgb(39, 114, 84);
  font-size: 0.55rem;
  font-weight: lighter;
}
footer hr {
  width: 98%;
  margin: 0 auto;
  background-color: rgb(112, 112, 112);
  height: 1px;
  border: none;
  margin: 10px;
}
footer .footertext {
  color: rgb(39, 114, 84);
  font-size: 0.55rem;
  font-weight: lighter;
  padding-left: 20px;
  padding-bottom: 10px;
} */

/*UPDATED CSS*******************
*******************************/
nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  z-index: 1;
}
nav .logo {
  width: 58%;
  text-align: center;
}

/****Navbar**/

nav .navbar p a {
  text-decoration: none;
  color: black;
}
#nic {
  text-decoration: none;
  color: #08aeea;
}
nav .logo img {
  width: 7vw;
}
nav .navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4%;
  font-size: 1.3vw;
}

/**updated footer*******
*****************/
.footer {
  width: 100%;
  font-size: 1vw;
  display: flex;
  gap: 20%;
  background-color: black;
  color: white;
  padding: 1% 0 1% 0;
  font-family: raleway;
  padding: 2% 0 2% 0;
  margin: 0;
}
.footer .pairs {
  width: 73%;
  display: flex;
  gap: 20%;
  justify-content: center;
  color: grey;
  font-size: 1.5vw;
}
.footer .pairs .links p {
  padding: 3%;
  width: 100%;
  font-size: 0.8vw;
}
.footer .pairs .links p a {
  text-decoration: none;
  color: grey;
}

.footer .pairs .address p {
  padding: 2%;
  width: 100%;
  font-size: 0.8vw;
}
.footer .subscribe .submit {
  display: flex;
}
.footer .subscribe .submit input {
  width: 40%;
  padding: 1%;
}

.footer .subscribe p {
  font-size: 0.9vw;
  padding-bottom: 2.5%;
}
.footer .subscribe {
  width: 50%;
}
.footer .subscribe input {
  width: 20%;
  font-size: 1vw;
}
.footer .subscribe button {
  width: 5%;
  font-size: 1vw;
  background-color: #7dd9d2;
}

.copyright {
  background-color: black;
  font-size: 1.5vw;
  color: grey;
  text-align: center;
  padding: 2% 0 2% 0;
  font-family: raleway;
}
hr {
  width: 100%;
  color: white;
  font-size: 0.8vw;
}
#quicklink {
  font-weight: bold;
  color: white;
  font-size: 1vw;
}
#addr {
  font-weight: bold;
  color: white;
  font-size: 1vw;
}
.shade {
  background-color: rgb(85, 194, 170);
  top: 0.1%;
  width: 100%;
  height: 81.5vw;
  position: absolute;
  opacity: 0.35;
}
.firstpage {
  position: relative;
}
.input {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}
.input input {
  border-radius: 10px;
  padding: 1.2vw 11vw;
  border: 0;
}
.input p {
  font-size: 5.5vw;
  padding-bottom: 3%;
  color: white;
}
#search {
  width: 1vw;
  position: absolute;
  top: left;
  right: 16%;
  top: 72%;
}
.cols {
  text-align: center;
  margin-bottom: 3%;
}

.cols .heading {
  text-align: center;
  font-size: 2vw;
  padding: 2% 0 2% 0;
}
.cols .heading p {
  font-weight: bold;
  font-size: 2.5vw;
}
.cols .flex {
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cols .flex .block p {
  text-align: center;
  padding-top: 1%;
  font-size: 1vw;
}

.cols .flex .block img {
  width: 14vw;
}
.cols .flex .block img:hover {
  width: 18vw;
  transition-duration: 0.5s;
}
.block {
  align-items: center;
}
.grid {
  padding-top: 1%;
}
.heading {
  text-align: center;
  padding-bottom: 1%;
  font-weight: bold;
  font-size: 2.5vw;
}
.grid {
  padding: 1% 3% 11% 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 1%;
}

.row .subrow {
  text-align: left;
  padding: 2% 0 3% 0;
}
.row .subrow p {
  font-size: 1vw;
}
.row .image-container img {
  width: 100%;
}
.row .image-container {
  width: 100%;
  background-size: cover;
}
.grid .row .subrow h4 {
  padding: 1%;
  font-size: 1.5vw;
}
.grid .row .subrow p {
  padding: 1%;
  font-size: 1.3vw;
}
.grid .row {
  box-shadow: 0 4px 8px 0 rgba(131, 127, 127, 0.2);
}
.grid .row {
  position: relative;
}
#like {
  width: 2%;
  position: absolute;
  top: 2%;
  right: 2%;
  border: 1px solid black;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1%;
}
.location {
  position: relative;
}
.location .mapimage {
  position: absolute;
  width: 100%;
  top: 44%;
  text-align: center;
}
.location .mapimage a img {
  width: 3vw;
}
.blur {
  filter: blur(25px);
  position: relative;
}
.index {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  text-align: center;
}
.bg {
  position: relative;
}
.index img {
  width: 77%;
  position: relative;
}
.index .close {
  width: 2vw;
  position: absolute;
  right: 13%;
  top: 2%;
}
.video {
  position: relative;
  text-align: center;
}

#bgvideo {
  width: 100%;
}
.video .caption {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  row-gap: 2%;
  padding: 4% 0 0 0;
}
.video .caption p {
  font-size: 1vw;
  color: white;
}
.video .caption a img {
  width: 40vw;
}
.video .play {
  position: absolute;
  top: 47%;
  left: 49%;
}
.video .caption .wavy p {
  font-size: 1.5vw;
  font-family: raleway;
}
.video .caption .wavy img {
  width: 2vw;
}
#playbutton {
  width: 2vw;
}
.offer {
  width: 100%;
  position: relative;
}
#mountain {
  width: 100%;
}
.offer .img-gradient {
  position: relative;
  z-index: 1;
}
.offer .main-img {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 1;
}
.offer .main-img img {
  width: 100%;
}
.offer .ads {
  position: absolute;
  top: 20%;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.offer .ads h1 {
  font-size: 2vw;
  color: white;
  font-family: raleway;
  padding-bottom: 1%;
}
.offer .ads p {
  font-size: 1.5vw;
  color: white;
  font-family: raleway;
  padding-bottom: 2%;
}

.offer .ads .fields input {
  font-size: 1vw;
  border-radius: 40px;
  background-color: inherit;
  border-color: white;
  width: 20%;
  padding: 0.5%;
  border: 1px solid white;
}
.offer .ads .fields button {
  font-size: 1vw;
  border-radius: 40px;
  background-color: white;
  border-color: white;
  color: hsl(164deg 66% 63%);
  width: 8%;
  padding: 0.5%;
  font-family: raleway;
  font-weight: bold;
}

.offer .ads .fields {
  display: flex;
  justify-content: center;
  gap: 4%;
}
#mainsub {
  font-size: 2vw;
}
.location {
  position: relative;
}
.location .mapimage {
  position: absolute;
  width: 100%;
  top: 44%;
  text-align: center;
}
.details {
  margin: 2% 5% 2% 5%;
  font-size: 1.5vw;
  text-align: justify;
}
.details h3 {
  padding: 0 0 2% 0%;
}
#aboutimage {
  width: 100%;
}
.location .map img {
  width: 100%;
}
.details {
  width: 100%;
}

@media screen and (max-width: 500px) {
  img.search {
    position: fixed;
    width: 3%;
    right: 25%;
  }
}

#listicon {
  visibility: hidden;
}

@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 1% 3% 16% 3%;
  }
  .video .caption a img {
    width: 30vw;
  }
  #listicon {
    visibility: visible;
    width: 5vw;
  }
  .navbar {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
  }
  nav .logo {
    width: 58%;
  }
  .navbar .list {
    width: 18%;
  }
}
